.sidenav{
  .el-menu{
    background-color: #fff;
  }
  .el-submenu__title:hover{
    background-color: #eff2f7;
    text-decoration: none;
    color: $blue;
  }
  .el-menu-item.is-active, .el-menu-item:hover{
    background-color: #eff2f7;
    color: $blue;
    .icon{
      color: $blue;
    }
  }
  .el-submenu .el-menu{
    background-color: $bg-grey;
  }
  .el-submenu .el-menu-item:hover{
    background-color: #eff2f7;
    color: $blue;
  }
}
